
<div echarts
     [options]="ontologyOptions"
     [loading]=true
     (chartInit)="onChartInit($event)"
     (chartDblClick)="onChartDbClick($event)"
     class="ontology-chart"
     id="ontology"
     style="height:600px; width:1200px;">
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th> Ontology Constraints
          <a (click)="onEditCloseItems()" class="text-info">
            <i class="mdi mdi-{{isEditItems ? 'close' : 'pencil'}} mdi-18px"></i>
          </a>
        </th>
      </tr>
      <tr>
        <td>Delete</td>
        <td>Richtung</td>
        <td>Node Name</td>
        <td>Attribute</td>
        <td>Wert</td>
      </tr>
    </thead>
    <tbody *ngIf="!isEditItems">
      <tr *ngFor="let field of constraints; let i = index">
        <td *ngIf="field?.name"> <div (click)="deleteFieldValue(i)" class="mdi mdi-close"> </div> </td>
        <td class="mdi mdi-18px"> {{field.scope}}</td>
        <td class="mdi mdi-18px"> {{field.name}}</td>
        <td class="mdi mdi-18px"> {{field.property}}</td>
        <td class="mdi mdi-18px"> {{field.value}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="isEditItems">
      <tr *ngFor="let field of constraints; let i = index">
        <td>
          <div (click)="deleteFieldValue(i)" class="input-group-text">
            <i class="mdi mdi-close mdi-18px"></i>
          </div>
        </td>
        <td>
          <label class="mdi mdi-18px"> {{field.scope}} </label>
        </td>
        <td>
          <label class="mdi mdi-18px"> {{field.name}} </label>
        </td>
        <td>
          <select class="form-control custom-select" [(ngModel)]="constraints[i].property" name="property">
            <option *ngFor="let option of defaultOptions[i].properties; let i = index"
            > {{option}}</option>
          </select>
        </td>
        <td>
            <input class="mdi mdi-18px form-control" [(ngModel)]="constraints[i].value" type="text" name="{{field.value}}">
        </td>
      </tr>
      <button (click)="onEditCloseItems()" class="btn btn-primary btn-lg1" type="button">Save</button>
    </tbody>
  </table>
</div>

<div class="query">
  <button (click)="onQuery()" class="btn btn-primary btn-lg1" type="button">Query</button>
</div>

<div echarts
     [options]="graphOptions"
     [loading]=true
     class="demo-graph"
     id="graph"
     style="height:600px; width:1200px;">
</div>

<router-outlet></router-outlet>
